<p id="notice"><%= notice %></p>

<div ng-app="AccountApp">
  <div ng-controller="UserCtrl as vm">

    <p>
      <strong>Name:</strong>
      {{vm.current_user.name}}
    </p>

    <p>
      <strong>Email:</strong>
      {{vm.current_user.email}}
    </p>

    <p>
      <strong>API Token</strong>
      <%= @token.hex_value %>
    </p>

  </div>
</div>

<%= link_to 'Edit', edit_store_it_path(@store) %> |
<%= link_to 'Back', store_its_path %>
