<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "StoreIt", "#" id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Log In", "sessions/new" %></li>
      <li><%= link_to "Sign Up", "store_its/new" %></li>
    </ul>
  </nav>
</div>
</header>
